# Thư mục thư viện siêu nặng
node_modules/

# Chặn up API Key và Mật khẩu lên mạng (Cực kỳ quan trọng)
.env
.env.*

# Rác hệ thống
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Thư mục chứa data local (tránh up dữ liệu công ty)
data/store.json
